.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd; /* Soft border */
  border-radius: 8px;
  background-color: #f8f8f8; /* Light background color */
  font-family: Arial, sans-serif;
}

.profile-heading {
  color: #333; 
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.profile-icon {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center; /* Align vertically */
  margin-top: 20px;
  color: #3498db; /* Accent color for icon */
  font-size: 48px;
}


.detail-label {
  font-weight: bold;
  color: #555;
}

.detail-info {
  color: #333;
  font-style: italic;
}

/* Background and border for details */
.profile-details {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
